/* line 4, scss/main.scss */
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 10, scss/main.scss */
html {
  width: 100%;
  height: 100%;
  font-family: "Karla", Helvetica, sans-serif;
  font-weight: 400;
  font-size: 1em;
  line-height: 1.7em;
  color: #424244;
}

/* line 20, scss/main.scss */
body {
  height: 100%;
}

/* line 24, scss/main.scss */
section {
  width: 100%;
  height: 100%;
}
/* line 27, scss/main.scss */
section .wrapper {
  max-width: 1000px;
  margin: 0 auto;
  padding: 16% 8%;
}
@media screen and (min-width: 570px) {
  /* line 27, scss/main.scss */
  section .wrapper {
    padding: 12% 8%;
  }
}
@media screen and (min-width: 750px) {
  /* line 27, scss/main.scss */
  section .wrapper {
    padding: 110px 8%;
  }
}
/* line 38, scss/main.scss */
section p {
  margin: 14% 0 7% 0;
}
@media screen and (min-width: 730px) {
  /* line 38, scss/main.scss */
  section p {
    margin-top: 90px;
    font-size: 1.2em;
    line-height: 1.7em;
  }
}
@media screen and (min-width: 1000px) {
  /* line 38, scss/main.scss */
  section p {
    font-size: 1.3em;
    line-height: 1.8em;
  }
}
/* line 50, scss/main.scss */
section p:nth-child(3) {
  margin-top: 7%;
}
@media screen and (min-width: 730px) {
  /* line 50, scss/main.scss */
  section p:nth-child(3) {
    margin-top: 60px;
  }
}

/* line 58, scss/main.scss */
#hero {
  height: 100%;
  background: #fafafa;
}
/* line 61, scss/main.scss */
#hero #hero_wrapper {
  margin: 0 auto;
  padding: 5% 10% 12% 10%;
  max-width: 800px;
  text-align: center;
}
@media screen and (min-width: 800px) {
  /* line 61, scss/main.scss */
  #hero #hero_wrapper {
    padding: 8% 0;
  }
}
/* line 70, scss/main.scss */
#hero #hero_logo {
  position: relative;
  width: 80%;
  height: 100%;
  min-width: 240px;
  min-height: 260px;
  margin: 0 auto 5%;
  padding: 5%;
  background: url("../img/W-logo.svg") no-repeat;
  background-size: contain;
  background-position: center;
}
/* line 82, scss/main.scss */
#hero h1 {
  display: block;
  margin: 0 auto;
  padding: 15% 0 0 0;
}
@media screen and (min-width: 550px) {
  /* line 82, scss/main.scss */
  #hero h1 {
    padding: 12% 0 0 0;
  }
}
@media screen and (min-width: 650px) {
  /* line 82, scss/main.scss */
  #hero h1 {
    padding: 10% 0 0 0;
  }
}
@media screen and (min-width: 750px) {
  /* line 82, scss/main.scss */
  #hero h1 {
    padding: 8% 0 0 0;
  }
}
/* line 96, scss/main.scss */
#hero p {
  width: 80%;
  margin: 2% auto;
}
@media screen and (min-width: 650px) {
  /* line 96, scss/main.scss */
  #hero p {
    margin: 6% auto;
  }
}
@media screen and (min-width: 750px) {
  /* line 96, scss/main.scss */
  #hero p {
    margin: 10% auto;
  }
}
/* line 106, scss/main.scss */
#hero p:nth-child(2) {
  margin-bottom: 0;
}
/* line 109, scss/main.scss */
#hero p:nth-child(4) {
  margin-top: 0;
}
/* line 112, scss/main.scss */
#hero hr {
  height: 0;
  width: 60%;
  max-width: 200px;
  margin: 5% auto;
  border: 1px solid #ff4c44;
}

/* line 121, scss/main.scss */
img {
  display: block;
  width: 100%;
  max-width: 800px;
  margin: 8% auto;
}

/* line 128, scss/main.scss */
.ywam_wrapper {
  display: block;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}
/* line 133, scss/main.scss */
.ywam_wrapper img {
  max-width: 400px;
}
@media screen and (min-width: 600px) {
  /* line 137, scss/main.scss */
  .ywam_wrapper img {
    float: left;
    margin: 0;
    width: 45%;
    max-width: 380px;
  }
  /* line 144, scss/main.scss */
  .ywam_wrapper img:nth-child(2), .ywam_wrapper img:nth-child(4) {
    margin-left: 10%;
  }
  /* line 147, scss/main.scss */
  .ywam_wrapper img:nth-child(3), .ywam_wrapper img:nth-child(4) {
    margin-top: 10%;
  }
}

/* line 154, scss/main.scss */
ul {
  list-style: none;
  padding: 0;
}

/* line 160, scss/main.scss */
#contact ul {
  margin-top: 5%;
}
/* line 163, scss/main.scss */
#contact li {
  display: inline;
  margin-right: 3%;
}
@media screen and (min-width: 750px) {
  /* line 163, scss/main.scss */
  #contact li {
    font-size: 1.1em;
  }
}

/* line 172, scss/main.scss */
a {
  color: #ff4c44;
  font-family: "Karla", Helvetica, sans-serif;
  text-decoration: none;
  -o-transition: .5s;
  -ms-transition: .5s;
  -moz-transition: .5s;
  -webkit-transition: .5s;
  transition: .5s;
}

/* line 184, scss/main.scss */
a:hover {
  color: #ff9591;
}

/* line 188, scss/main.scss */
.title-link {
  display: block;
  position: relative;
  text-align: center;
  margin: auto;
  padding: 1.6em;
  border: 3px solid #ff4c44;
}

/* line 196, scss/main.scss */
.title-link:hover {
  border: 3px solid #ff9591;
}

/* line 200, scss/main.scss */
h1 {
  color: #ff4c44;
  margin: 0;
  font-weight: 400;
  font-size: 4em;
  line-height: 1.05em;
}

/* line 208, scss/main.scss */
h2, h3 {
  font-family: "Karla", Helvetica, sans-serif;
  font-weight: 400;
  margin: 0;
  padding: 1em 0;
  letter-spacing: 0.1em;
}
@media screen and (min-width: 750px) {
  /* line 208, scss/main.scss */
  h2, h3 {
    font-size: 2em;
    line-height: 1.4em;
  }
}

/* line 221, scss/main.scss */
h2 {
  text-align: center;
  color: #e2e2e2;
}

/* line 226, scss/main.scss */
h3.subtitle {
  padding: 0;
}

/* line 230, scss/main.scss */
.title_bar {
  background-color: #ff4c44;
  max-height: 268px;
}
/* line 233, scss/main.scss */
.title_bar .wrapper {
  padding: 8%;
}
@media screen and (min-width: 750px) {
  /* line 233, scss/main.scss */
  .title_bar .wrapper {
    padding: 80px;
  }
}

/* line 241, scss/main.scss */
header {
  position: fixed;
  bottom: 0;
  z-index: 10;
  width: 100%;
  background-color: #fafafa;
}
/* line 247, scss/main.scss */
header nav {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  text-align: center;
}
/* line 252, scss/main.scss */
header nav li {
  display: inline-block;
  padding-left: 6%;
}
/* line 256, scss/main.scss */
header nav li:first-child {
  padding-left: 0;
}

/* line 264, scss/main.scss */
.headroom {
  transition: transform 200ms linear;
}

/* line 265, scss/main.scss */
.headroom--unpinned {
  transform: translateY(0%);
}

/* line 266, scss/main.scss */
.headroom--pinned {
  transform: translateY(0%);
}

/* line 270, scss/main.scss */
#py {
  background-color: #fafafa;
}

/* line 274, scss/main.scss */
#bpoint {
  background-color: #e2e2e2;
}

/* line 278, scss/main.scss */
#ywam {
  background-color: #fafafa;
}

/* line 282, scss/main.scss */
#scroll {
  display: block;
  height: 1em;
  width: 1em;
  color: #ff4c44;
  background: url("../img/icons/arrow-down2.svg") no-repeat;
  background-color: #fafafa;
  background-size: 1em;
}
